/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Avenir-plain';
  src: url('/assets/fonts/Avenir.ttc') format('truetype')
}

body {
  margin: 0;
  font-family: 'Avenir-plain', Verdana, Geneva, sans-serif;
  background-color: #F5F5F5;
}